.methods {
    padding: 20px 0;
    &__title {
        p {
            font-family: "Montserrat", sans-serif;
            font-weight: 600 !important;
            font-style: normal !important;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 4;
            font-style: normal;
            letter-spacing: 0.0em;
            color: #ff0000;
            text-align: center;
        }
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 40px 0 0;
        @media screen and (max-width: 900px) {
            align-items: center;
        }
    }
}