<div class="print-info">

    <div class="black-product-title">
        <h2>Кепки</h2>
    </div>

    <div class="wrapper">
        <div class="print-info__content">
            <div class="print-info__images print-info__images_pt">
                <div class="print-info__img">
                    <a href="thermal-transfer.html" style="background-image: url(img/caps/termo.jpg);"></a>
                    <h3>Термоперенос на кепке (до 3-х цветов)</h3>
                </div>

                <div class="print-info__img">
                    <a href="silkscreen.html" style="background-image: url(img/caps/silk.png); background-size: contain;"></a>
                    <h3>Шелкография на кепке (до 6 цветов)</h3>
                </div>
            </div>
        </div>
    </div>
</div>