<div class="slider-product">
    <div class="wrapper">
        
        <div class="slider-product__slider">

            <div class="slide__contain">
                <a href="img/caps/1.jpg" data-fancybox="gallery-tshirts-caps" class="slider__slide slide slide_slider-product" style="background-image: url(img/caps/1.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/caps/2.jpg" data-fancybox="gallery-tshirts-caps" class="slider__slide slide slide_slider-product" style="background-image: url(img/caps/2.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/caps/3.jpg" data-fancybox="gallery-tshirts-caps" class="slider__slide slide slide_slider-product" style="background-image: url(img/caps/3.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/caps/4.jpg" data-fancybox="gallery-tshirts-caps" class="slider__slide slide slide_slider-product" style="background-image: url(img/caps/4.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/caps/5.jpg" data-fancybox="gallery-tshirts-caps" class="slider__slide slide slide_slider-product" style="background-image: url(img/caps/5.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/caps/6.jpg" data-fancybox="gallery-tshirts-caps" class="slider__slide slide slide_slider-product" style="background-image: url(img/caps/6.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/caps/7.jpg" data-fancybox="gallery-tshirts-caps" class="slider__slide slide slide_slider-product" style="background-image: url(img/caps/7.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/caps/8.jpg" data-fancybox="gallery-tshirts-caps" class="slider__slide slide slide_slider-product" style="background-image: url(img/caps/8.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/caps/9.jpg" data-fancybox="gallery-tshirts-caps" class="slider__slide slide slide_slider-product" style="background-image: url(img/caps/9.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/caps/10.jpg" data-fancybox="gallery-tshirts-caps" class="slider__slide slide slide_slider-product" style="background-image: url(img/caps/10.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/caps/11.jpg" data-fancybox="gallery-tshirts-caps" class="slider__slide slide slide_slider-product" style="background-image: url(img/caps/11.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/caps/12.jpg" data-fancybox="gallery-tshirts-caps" class="slider__slide slide slide_slider-product" style="background-image: url(img/caps/12.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/caps/13.jpg" data-fancybox="gallery-tshirts-caps" class="slider__slide slide slide_slider-product" style="background-image: url(img/caps/13.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/caps/14.jpg" data-fancybox="gallery-tshirts-caps" class="slider__slide slide slide_slider-product" style="background-image: url(img/caps/14.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/caps/15.jpg" data-fancybox="gallery-tshirts-caps" class="slider__slide slide slide_slider-product" style="background-image: url(img/caps/15.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/caps/16.jpg" data-fancybox="gallery-tshirts-caps" class="slider__slide slide slide_slider-product" style="background-image: url(img/caps/16.jpg);"></a>
            </div>
            
        </div>
    </div>
</div>