<div class="infliction">

    <div class="black-product-title">
        <h2>Методы нанесения печати на толстовку</h2>
    </div>

    <div class="wrapper">
        <div class="infliction__content">
            <div class="infliction__options">
                <div class="infliction__card card">
                    <a href="" class="card__img" style="background-image: url(img/methods/1.png);"></a>
                    <h3 class="card__title">Прямая печать</h3>
                    <p class="card__info">Печать полноцветных изображений от 1 шт.</p>
                </div>
                <div class="infliction__card card">
                    <a href="" class="card__img" style="background-image: url(img/methods/2.jpg);"></a>
                    <h3 class="card__title">Термоперенос</h3>
                    <p class="card__info">Печать векторных изображений (цифры, буквы, векторные рисунки) до 3-х цветов от 1 шт.</p>
                </div>
                <div class="infliction__card card">
                    <a href="" class="card__img" style="background-image: url(img/methods/3.jpg);"></a>
                    <h3 class="card__title">Шелкография</h3>
                    <p class="card__info">Печать любых изображений оптовым методом от 20 шт. (до 6 цветов)</p>
                </div>
                <div class="infliction__card card">
                    <a href="" class="card__img" style="background-image: url(img/methods/6.jpg);"></a>
                    <h3 class="card__title">Вышивка</h3>
                    <p class="card__info">Вышивка векторных изображений от 20 шт (до 8 цветов) </p>
                </div>
            </div>
            <div class="infliction__info">
                <p>Толстовка — излюбленная одежда тех, кто привык к комфортными удобным в носке вещам, не стесняющих движения. Ценители подобных изделий знают, что есть кенгурушки или же толстовки на молнии, что позволяет подобрать модель под свои предпочтения. Майка ПРО — студия печати, где каждый желающий сможет сделать свою толстовку уникальной, яркой или вызывающей, что позволит выгодно выделиться из толпы. У нас Вы сможете напечатать любое изображение, в предпочтительном формате!</p>
                <p>Худи с печатью методом шелкографии, термопереноса рисунка или прямой печати изображения — возможность получить креативную и необычную вещь как на каждый день, так и для особых случаев. Печать на толстовках СПБ высокого качества и по доступной цене выполняется оперативно! Срок выполнения заказа – 15 минут в порядке живой очереди! Майка ПРО предлагает также худи, кенгуру или толстовки на заказ СПБ. Все изделия изготовлены из качественного и отборного текстиля, таким образом, отличаются износостойкостью. При должном уходе — стирка наизнанку при температуре не выше 30 градусов и глажка при щадящем режиме, принт будет радовать яркими красками свыше 100 стирок!</p>
                <p>Печать на толстовках СПБ: будьте креативными и стильными каждый день, не теряя при этом в комфорте! Мы предлагаем также выгодные условия для оптовых заказов печати на толстовках в СПБ. У нас Вы сможете заказать оригинальную толстовку или целый модельный ряд с корпоративным принтом, при этом мы гарантируем качество для каждой единицы!</p>
            </div>
        </div>
    </div>
</div>