<div class="slider-product">
    <div class="black-product-title">
        <h2>Толстовки</h2>
    </div>

    <div class="wrapper">
        <div class="slider-product__slider">

            <div class="slide__contain">
                <a href="img/hoodies/1.jpg" data-fancybox="gallery-tshirts-hoodies" class="slider__slide slide slide_slider-product slide_slider-product_hoodies" style="background-image: url(img/hoodies/1.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/hoodies/2.jpg" data-fancybox="gallery-tshirts-hoodies" class="slider__slide slide slide_slider-product slide_slider-product_hoodies" style="background-image: url(img/hoodies/2.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/hoodies/3.jpg" data-fancybox="gallery-tshirts-hoodies" class="slider__slide slide slide_slider-product slide_slider-product_hoodies" style="background-image: url(img/hoodies/3.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/hoodies/4.jpg" data-fancybox="gallery-tshirts-hoodies" class="slider__slide slide slide_slider-product slide_slider-product_hoodies" style="background-image: url(img/hoodies/4.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/hoodies/5.jpg" data-fancybox="gallery-tshirts-hoodies" class="slider__slide slide slide_slider-product slide_slider-product_hoodies" style="background-image: url(img/hoodies/5.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/hoodies/6.jpg" data-fancybox="gallery-tshirts-hoodies" class="slider__slide slide slide_slider-product slide_slider-product_hoodies" style="background-image: url(img/hoodies/6.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/hoodies/7.jpg" data-fancybox="gallery-tshirts-hoodies" class="slider__slide slide slide_slider-product slide_slider-product_hoodies" style="background-image: url(img/hoodies/7.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/hoodies/8.jpg" data-fancybox="gallery-tshirts-hoodies" class="slider__slide slide slide_slider-product slide_slider-product_hoodies" style="background-image: url(img/hoodies/8.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/hoodies/9.jpg" data-fancybox="gallery-tshirts-hoodies" class="slider__slide slide slide_slider-product slide_slider-product_hoodies" style="background-image: url(img/hoodies/9.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/hoodies/10.jpg" data-fancybox="gallery-tshirts-hoodies" class="slider__slide slide slide_slider-product slide_slider-product_hoodies" style="background-image: url(img/hoodies/10.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/hoodies/11.jpg" data-fancybox="gallery-tshirts-hoodies" class="slider__slide slide slide_slider-product slide_slider-product_hoodies" style="background-image: url(img/hoodies/11.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/hoodies/12.jpg" data-fancybox="gallery-tshirts-hoodies" class="slider__slide slide slide_slider-product slide_slider-product_hoodies" style="background-image: url(img/hoodies/12.jpg);"></a>
            </div>
            
            
        </div>
    </div>
</div>