.backcall {
    font-family: "Montserrat", sans-serif;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 3;
    font-style: normal;
    letter-spacing: 0.0em;
    color: #ffffff;
    a {
        display: block;
        font-family: "Montserrat", sans-serif;
        font-weight: normal !important;
        font-style: normal !important;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 3;
        font-style: normal;
        letter-spacing: 0.0em;
        color: #ffffff;

    }
    &__mail {
        text-decoration: underline;
        margin-bottom: 5px;
        transition: 0.3s ease;
        &:hover {
            opacity: 0.8;
        }
    }
    &__number {
        font-size: 26px !important;
        transition: 0.3s ease;
        &:hover {
            opacity: 0.8;
        }  
    }
    &__button {
        display: inline-block!important;
        margin-top: 8px;
    }
}