.img {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}
.red {
    color: rgb(247, 27, 27);
}
.blue {
    color: rgb(84, 141, 212);
}
.white {
    color: white;
}