.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 1000px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (max-width: 500px) {
        padding-left: 5px;
        padding-right: 5px;  
    }
}
.black-block {
    background-color: #000;
}
.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 4;
    font-style: normal;
    letter-spacing: 0.0em;
    color: #ffffff;
    text-align: center;
    &_black {
        color: black;
    }
    @media screen and (max-width: 650px) {
        font-size: 30px;
    }
}
.big-title {
    font-family: "Montserrat", sans-serif;
    font-size: 65px;
    line-height: 1.25;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.0em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0px;
    @media screen and (max-width: 640px) {
        font-size: 30px;
    }
}
.img {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}
.red {
    color: rgb(247, 27, 27);
}
.blue {
    color: rgb(84, 141, 212);
}
.white {
    color: white;
}
.green {
    color: rgb(33, 237, 50);
}
.black {
    color: black;
}

.seo-title {
    visibility: hidden;
    position: absolute;
    pointer-events: none;
}