.nav {
    padding-bottom: 30px;
    padding-top: 15px;
    flex-wrap: wrap;
    text-align: center;
    &__drop {
        display: inline-block;
        position: relative;
        @media screen and (max-width: 600px) {
            position: unset;
        }
    }
    &__elem {
        font-family: "Montserrat", sans-serif;
        font-size: 23px;
        line-height: 1.25;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 0.0em;
        color: white;
        padding: 4px 15px 6px;
        position: relative;
        transition: 0.3s ease;
        display: inline-flex;
        cursor: pointer;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -3px;
            left: -3px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #ff0000;
            transition: 0.3s ease;
        }
        &:hover {
            color: rgb(247, 27, 27);
            &:before {
                background-color: transparent;
            }
        }
        @media screen and (max-width: 1310px) {
            font-size: 20px;
        }
        @media screen and (max-width: 808px) {
            font-size: 18px;
        }
    }
    .not-before {
        &:before {
            display: none;
        }
    }
    @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        position: absolute;
        background-color: black;
        border-top: 1px solid white;
        top: 80px;
        &__elem  {
            display: inline-flex;
            width: 100%;
        }
        a {
            width: 100%;
            justify-content: center;
            &::before {
                display: none;
            }
        }
    }
    @media screen and (max-width: 400px) {
        top: 50px; 
    }
}
.dropbox {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 23px 30px 25px;
    display: none;
    z-index: 3;
    @media screen and (max-width: 700px) {
        display: none;
    }
    &__elem {
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 17px;
        line-height: 1.25;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 0.0em;
        color: #ffffff;
        transition: 0.3s ease;
        white-space: nowrap;
        &:not(:first-child) {
            margin-top: 8px;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    &.active {
        @media screen and (max-width: 700px) {
            display: block;
        }
        @media screen and (max-width: 600px) {
            display: flex;
            left: 0;
            width: 100%;
            padding: 10px 0;
            border-top: 1px solid white;
        }
    }
}