
.slide {
    margin: 0 auto;
    &_textile {
        width: 260px;
        height: 410px;
        background-size: cover;
        background-repeat: no-repeat; 
        display: flex;
        align-items: flex-end;
    }
    &_examples {
        width: 310px;
        height: 310px;
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: center; 
        display: block;
        transition: 0.3s ease;
        &:hover {
            background-size: 200%;
        }
    }
    &_slider-product {
        display: block;
        width: 244px;
        height: 244px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center; 
    }

    &__wrapper {
        &_textile {
            color: white;
            padding: 44px 30px 60px;
            h3 {
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                font-weight: 300;
                font-style: normal;
                letter-spacing: 0.0em;
                color: #ffffff;
                line-height: 150%;
            }
            p {
                font-family: "Montserrat", sans-serif;
                font-size: 21px;
                font-weight: 700;
                font-style: normal;
                letter-spacing: 0.0em;
                color: #ff0000;
                line-height: 150%;
                white-space: nowrap;
                margin-top: 10px;
            }
        }
    }
}

.textile__slider {
    .slick-prev:before {
        background-image: url(../img/arrow-white.png);
        background-size: 15px 24px;
        background-repeat: no-repeat;
        display: block;
        width: 15px; 
        height: 24px;
        content: '';
        transform: rotate(-180deg);
    }
    .slick-next:before {
        background-image: url(../img/arrow-white.png);
        background-size: 14px 24px;
        background-repeat: no-repeat;
        display: block;
        width: 15px; 
        height: 24px;
        content: '';
    }
    .slick-dots li button:before {
        color:white;
    }  
}

.examples__slider {
    .slick-dots {
        bottom: -50px;
    }
    .slick-dots li button:before {
        color:white;
        font-size: 12px;
        opacity: 1;
    }
    .slick-dots li.slick-active button:before {
        color: #fe3a00;
    }
    .slick-prev:before {
        background-image: url(../img/arrow2.png);
        background-size: 27px 50px;
        background-repeat: no-repeat;
        display: block;
        width: 27px; 
        height: 50px;
        content: '';
    }
    .slick-next:before {
        background-image: url(../img/arrow2.png);
        background-size: 27px 50px;
        background-repeat: no-repeat;
        display: block;
        width: 27px; 
        height: 50px;
        content: '';
        transform: rotate(-180deg);
    }
    .slick-prev {
        left: -40px;
    }
    .slick-next {
        right: -40px;
    }  
}

.slider-product__slider {
    .slick-dots {
        bottom: -50px;
    }
    .slick-dots li button:before {
        color:#d7d7d7;
        font-size: 12px;
        opacity: 1;
    }
    .slick-dots li.slick-active button:before {
        color: #fe3a00;
    }
    .slick-prev:before {
        background-image: url(../img/arrow2-black.png);
        background-size: 27px 50px;
        background-repeat: no-repeat;
        display: block;
        width: 27px; 
        height: 50px;
        content: '';
    }
    .slick-next:before {
        background-image: url(../img/arrow2-black.png);
        background-size: 27px 50px;
        background-repeat: no-repeat;
        display: block;
        width: 27px; 
        height: 50px;
        content: '';
        transform: rotate(-180deg);
    }
    .slick-prev {
        left: -40px;
    }
    .slick-next {
        right: -40px;
    }  
}
      