.black-product-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 4;
    font-style: normal;
    letter-spacing: 0.0em;
    color: #ffffff;
    text-align: center;
    background-color: black;
    padding: 20px 0;
}