.infliction {
    &__content {

    }
    &__options {
        display: flex;
        padding: 20px 0;
    }
    &__card {
        width: 25%;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 0;
        a {
            width: 260px;
            height: 195px;
        }
    }
    &__info {
        font-family: "Montserrat", sans-serif;
        font-weight: 600 !important;
        font-style: normal !important;
        font-size: 17px;
        line-height: 1.7;
        font-weight: 4;
        font-style: normal;
        letter-spacing: 0.0em;
        color: #000000;
        text-align: center;
        p {
            margin-bottom: 28.9px;
        }
    }
}