<div class="print-info">

    <div class="black-product-title">
        <h1 class="seo-title">Вышивка на одежде</h1>
    </div>

    <div class="wrapper">
        <div class="print-info__content">
            <div class="print-info__images print-info__images_pt">
                <div class="print-info__img">
                    <a style="background-image: url(img/embroidery/1.png);"></a>
                </div>

                <div class="print-info__img">
                    <a style="background-image: url(img/embroidery/2.png);"></a>
                </div>
            </div>

            <div class="print-info__text">
                <p>Вышивка на футболках, толстовках, свитшотах, поло, кепках СПБ — один из популярных и долговечных способов нанесения рисунка, который используется для печати логотипов, символики, векторных изображений. Такой формат нанесения применим для создания шевронов, орденов, патриотических знаков на одежде, надписей и т.д. </p>
                <p>Компания MAIKA PRO использует новейшее инновационное оборудование, многолетний опыт профильных специалистов для создания уникальных, качественных и креативных вещей. Готовые изделия неприхотливы в уходе, шевроны и изображения не утратят формы, яркости цветов, контрастности длительный срок пользования.</p>
                <p>Обращайтесь к нам для подбора предпочтительного формата нанесения рисунка, тиража и способа получения готовой продукции. Мы работаем с розничными и оптовыми заказами, предлагая при этом выгодные цены, срочную печать изделий.</p>
                <p>MAIKA PRO — компания, которая всегда в тренде новинок, и работает качественно, оперативно и креативно!</p>
            </div>
        </div>
    </div>
</div>