<div class="print-info">
    <div class="wrapper">
        <div class="print-info__content">
            <div class="print-info__text">
                <p class="small-text">Печать на цветном текстиле рассчитывается с коэффициентом 1.2<br>
                    Печать на толстовках рассчитывается с коэффициентом 1.5<br>
                    Печать на вашем текстиле рассчитывается с коэффициентом 1.5, а также нужно иметь до 5% текстиля под брак</p>
                <p>Современные люди всегда стремятся выглядеть эффектно, броско и уникально, чтобы максимально выделиться из толпы. Печать на футболках, свитшотах или худи — возможность ненавязчиво подчеркнуть свой стиль, сделать образ совершенным и притягательным. Компания MAIKA PRO — команда профессионалов, использующих инновационное оборудование для того, чтобы создать качественные и неповторимые изделия.</p>
                <p>Шелкография на футболках, толстовках, свитшотах, поло, кепках СПБ — уникальный способ перенесения изображений, рисунком, надписей, фото на текстиль, который признан быть самым долговечным и износостойким среди аналогичных способов. Для создания уникального принта или рисунка используются особые трафареты, позволяющие переносить принт в точности, и создавать при этом нужные оттенки. Впоследствии изделие помещается в тоннельную сушильную камеру, где изображение впечатывается в ткань. Подобная методика пользуется популярностью, поскольку одежда неприхотлива в уходе, а готовый принт не теряет яркости, насыщенности цвета и контрастности даже после 100 стирок. Наши специалисты могут изготовить термотрансферы, благодаря чему изображение или предпочтительный принт легко нанести на любой текстиль!</p>
                <p>MAIKA PRO: быть стильным и оригинальным — легко и доступно! Данный метод печати предпочтителен для оптовых заказов — печать только от 20 штук изделий!</p>
            </div>
            <div class="print-info__images">
                <div class="print-info__img">
                    <a style="background-image: url(img/silkscreen/1.jpg);"></a>
                </div>

                <div class="print-info__img">
                    <a style="background-image: url(img/silkscreen/2.png);"></a>
                </div>

                <div class="print-info__img">
                    <a style="background-image: url(img/silkscreen/3.jpg);"></a>
                </div>

                <div class="print-info__img">
                    <a style="background-image: url(img/silkscreen/4.jpg);"></a>
                </div>

                <div class="print-info__img">
                    <a style="background-image: url(img/silkscreen/5.jpg);"></a>
                </div>

                <div class="print-info__img">
                    <a style="background-image: url(img/silkscreen/6.png);"></a>
                </div>
            </div>
        </div>
    </div>
</div>