<div class="infliction">

    <div class="black-product-title">
        <h2>Методы нанесения печати на футболку</h2>
    </div>

    <div class="wrapper">
        <div class="infliction__content">
            <div class="infliction__options">
                <div class="infliction__card card">
                    <a href="" class="card__img" style="background-image: url(img/methods/1.png);"></a>
                    <h3 class="card__title">Прямая печать</h3>
                    <p class="card__info">Печать полноцветных изображений от 1 шт.</p>
                </div>
                <div class="infliction__card card">
                    <a href="" class="card__img" style="background-image: url(img/methods/2.jpg);"></a>
                    <h3 class="card__title">Термоперенос</h3>
                    <p class="card__info">Печать векторных изображений (цифры, буквы, векторные рисунки) до 3-х цветов от 1 шт.</p>
                </div>
                <div class="infliction__card card">
                    <a href="" class="card__img" style="background-image: url(img/methods/3.jpg);"></a>
                    <h3 class="card__title">Шелкография</h3>
                    <p class="card__info">Печать любых изображений оптовым методом от 20 шт. (до 6 цветов)</p>
                </div>
                <div class="infliction__card card">
                    <a href="" class="card__img" style="background-image: url(img/methods/6.jpg);"></a>
                    <h3 class="card__title">Вышивка</h3>
                    <p class="card__info">Вышивка векторных изображений от 20 шт (до 8 цветов) </p>
                </div>
            </div>
            <div class="infliction__info">
                <p>Футболка — неотъемлемый атрибут любого гардероба. Однако данная вещь может быть креативной и неординарной, если обратиться в нашу современную и креативную компанию.</p>
                <p>Печать на футболках СПБ — выгодный способ подчеркнуть свою индивидуальность и незаурядность стиля! Обратившись к нашим специалистам, Вы не только обновите свою вещь, но и получите качественную модель с уникальным изображением.</p>
                <p>Футболки на заказ СПБ изготавливаются из износостойкого, прочного текстиля, на который методом шелкографии, термопереноса, прямой печати или любым другим методом переносят Ваше изображение. Изделие не теряет форму и контрастность цветов при правильном уходе за вещью — стирка при температуре, не превышающей 30 градусов. Для выглаживания следует футболку вывернуть наизнанку, выбирать щадящий режим.</p>
                <p>MAIKA PRO: мы поможем Вам создать уникальный и неповторимый стиль! В нашем ассортименте также представлены современные модели свитшотов, футболок, поло и других изделий для печати. Мы поможем создать корпоративный стиль, изготовив оптовый тираж стильных поло или футболок с нужным принтом. Благодаря нашему цеху по пошиву и масштабному производству, мы способны обрабатывать крупные заказы в кратчайшие сроки.</p>
                <p>MAIKA PRO — печать на футболках любого принта оптом и в розницу!</p>
            </div>
        </div>
    </div>
</div>