<div class="material">
    <div class="wrapper">
        <div class="material__title">
            <h1 class="seo-title">Печать на хлопковых футболках</h1>
        </div>
        <div class="material__content">
            <div class="material__tshirts">
                <a data-fancybox data-src="#hidden-form" class="material__img" style="background-image: url(img/t-shirts/hlop.png);">
                    <p>от 390 руб</p>
                </a>
            </div>
            <div class="material__tshirts">
                <a data-fancybox data-src="#hidden-form" class="material__img" style="background-image: url(img/t-shirts/lay.png);">
                    <p>от 490 руб</p>
                </a>
            </div>
        </div>
    </div>
</div>