<div class="slider-product">
    <div class="wrapper">
        <div class="slider-product__title">
            <h2>Мужские</h2>
        </div>
        <div class="slider-product__slider">

            <div class="slide__contain">
                <a href="img/t-shirts/he/1.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/1.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/t-shirts/he/2.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/2.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/t-shirts/he/3.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/3.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/t-shirts/he/4.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/4.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/t-shirts/he/5.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/5.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/6.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/6.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/7.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/7.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/8.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/8.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/9.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/9.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/10.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/10.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/11.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/11.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/12.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/12.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/13.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/13.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/14.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/14.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/15.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/15.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/16.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/16.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/17.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/17.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/18.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/18.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/19.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/19.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/20.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/20.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/21.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/21.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/22.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/22.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/23.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/23.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/24.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/24.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/he/25.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/25.jpg);"></a>
            </div>
                        
            <div class="slide__contain">
                <a href="img/t-shirts/he/26.jpg" data-fancybox="gallery-tshirts" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/he/26.jpg);"></a>
            </div>

        </div>
    </div>
</div>