<div class="slider-product">
    <div class="wrapper">
        <div class="slider-product__title slider-product__title_red">
            <h2>Женские</h2>
        </div>
        <div class="slider-product__slider">

            <div class="slide__contain">
                <a href="img/t-shirts/she/1.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/1.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/t-shirts/she/2.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/2.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/t-shirts/she/3.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/3.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/t-shirts/she/4.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/4.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/t-shirts/she/5.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/5.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/she/6.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/6.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/she/7.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/7.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/she/8.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/8.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/she/9.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/9.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/she/10.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/10.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/she/11.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/11.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/she/12.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/12.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/she/13.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/13.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/she/14.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/14.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/she/15.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/15.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/she/16.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/16.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/she/17.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/17.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/she/18.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/18.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/she/19.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/19.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/she/20.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/20.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/t-shirts/she/21.jpg" data-fancybox="gallery-tshirts-she" class="slider__slide slide slide_slider-product" style="background-image: url(img/t-shirts/she/21.jpg);"></a>
            </div>
            
        </div>
    </div>
</div>