.video-block {
    &__content {
        @media screen and (max-width: 640px) {
            display: none;
        }
        overflow:hidden;
        iframe {
            margin-top: -100px;
            margin-bottom: -100px;
            position: relative;
            transform: scale(1.2);
        }
    }
}