<div class="contacts">
    <div class="black-product-title black-product-title_red">
        <h2>МОСКВА</h2>
    </div>

    <div class="wrapper">
        <div class="contacts__content">
            <div class="contacts__info">
                <p>м. Китай-город</p>
                <p>Маросейка 6/8 с 1</p>
                <a href="mailto:info@maika.pro">info@maika.pro</a>
                <a href="tel:+79119229098">8 (911) 922 90 98</a>
            </div>
            <div class="contacts__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d943.9307171447756!2d37.63393498322986!3d55.75749031608901!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a5f1a2480f7%3A0xe374d0a120909e1c!2z0YPQuy4g0JzQsNGA0L7RgdC10LnQutCwLCA2Lzgg0YHRgtGA0L7QtdC90LjQtSAxLCDQnNC-0YHQutCy0LAsIDEwMTAwMA!5e0!3m2!1sru!2sru!4v1567584485161!5m2!1sru!2sru" width="1200" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>