 <!--Кнопка наверх-->
 <div id="button-up" class="button-up">
    <a class="button-up__img"></a>
  </div>
  <!--Кнопка наверх-end-->

  <!--Кнопка заказа со скидкой-->
  <div id="button-discount" class="button-discount">
    <p>Нажми и закажи со скидкой!</p>
    <div class="button-discount__img drop-3">
      <div class="dropbox-3">
        <a class="telegram" href="tg://resolve?domain=maika_pro"></a>
        <a class="whatsapp" href="https://wa.me/79119229098"></a>
      </div>
    </div>
  </div>
   <!--Кнопка заказа со скидкой-end-->