 <!--Кнопка наверх-->
 <div id="button-up" class="button-up">
    <a class="button-up__img"></a>
  </div>
  <!--Кнопка наверх-end-->

  <!--Кнопка заказа со скидкой-->
  <div id="button-discount" class="button-discount">
    <p>Нажми и закажи со скидкой!</p>
    <div class="button-discount__img drop-3">
      <div class="dropbox-3">
        <a class="telegram" href="tg://resolve?domain=maika_pro"></a>
        <a class="whatsapp" href="https://wa.me/79119229098"></a>
      </div>
    </div>
  </div>
   <!--Кнопка заказа со скидкой-end-->

   <!--формы-->
   <!--маленькая форма-->
   <div class="form form_lite" id="hidden-form_lite" style="display: none;">
     <h2 class="form__title">Отправить заявку</h2>
     <p class="form__info">Просто оставьте нам свои контактные данные, наши менеджеры свяжутся с вами и ответят на все интересующие вас вопросы.</p>
     <form action="mail.php" method="POST" enctype="multipart/form-data">
       <input name="name" class="input__text" type="text" placeholder="Имя" required>
       <input name="number" class="input__text phone_mask" type="tel" placeholder="+7 (___) ___-____" required>
       <input name="mail" class="input__text" type="email" placeholder="Email" required>
       <p>Изображение</p>
       <input name="fileToUpload" class="input__file" type="file">
       <input class="input__button" type="submit">
     </form>
   </div>

   <!--большая форма-->
   <div class="form" id="hidden-form" style="display: none;">
    <h2 class="form__title">Отправить заявку</h2>
    <p class="form__info">Просто оставьте нам свои контактные данные, наши менеджеры свяжутся с вами и ответят на все интересующие вас вопросы.</p>
    <form action="mail.php" method="POST" enctype="multipart/form-data">
      <input name="name" class="input__text" type="text" placeholder="Имя" required>
      <input name="mail" class="input__text" type="email" placeholder="Email" required>
      <input name="number" class="input__text phone_mask" type="tel" placeholder="+7 (___) ___-____" required>
      <p>Выберите город</p>
      <select name="city" class="select__text">
        <option disabled selected class="select__var">Выберите город</option>
        <option class="select__var" value="spb">Санкт-Петербург</option>
        <option class="select__var" value="msk">Москва</option>
      </select>
      <input name="adres" class="input__text" type="text" placeholder="Адрес доставки (если нужна доставка)" >
      <input name="product" class="input__text" type="text" placeholder="Что хотите заказать?" >
      <input name="amount" class="input__text" type="text" placeholder="Количество" >
      <input name="text" class="input__text" type="text" placeholder="Комментарий" >
      <p>Прикрепите изображение</p>
      <input name="fileToUpload" class="input__file" type="file">
      <input class="input__button" type="submit">
    </form>
  </div>
  <!--формы-end-->
  

  