<footer class="footer">
  <!--Order-->
  <div class="order">
    <div class="wrapper">
        <div class="order__content">

            <div class="order__steps">
                <div class="order__scheme">
                    <div class="order__tringle tringle1"></div>
                    <div class="order__arrows"></div>
                </div>
                <div class="order__info">
                    <p>Напишите нам в <a href="https://wa.me/79119229098" class="green">WhatsApp</a> и <a href="tg://resolve?domain=maika_pro" class="blue">Telegram</a> </p>
                </div>
            </div>

            <div class="order__steps">
                <div class="order__scheme">
                    <div class="order__tringle tringle2"></div>
                    <div class="order__arrows even"></div>
                </div>
                <div class="order__info">
                    <p>Опишите, что и на чём будем печатать, прикрепите картинки</p>
                </div>
            </div>

            <div class="order__steps">
                <div class="order__scheme">
                    <div class="order__tringle tringle3"></div>
                    <div class="order__arrows"></div>
                </div>
                <div class="order__info">
                    <p>Дождитесь ответа и получите варианты, которые мы предложим Вам</p>
                </div>
            </div>

            <div class="order__steps">
                <div class="order__scheme">
                    <div class="order__tringle tringle4"></div>
                </div>
                <div class="order__info">
                    <p>Выберите Вариант и оформите заказ</p>
                </div>
            </div>

        </div>
    </div>
  </div>
  <!--End-Order-->
  <div class="footer__wrapper">
    <div class="footer__content">
      <div class="footer__logo footer__elem">
        <a href=""></a>
      </div>
      <div class="footer__soc footer__elem">
        <a class="vk" href="https://vk.com/pechat_na_futbolkakh_optom"></a>
        <a class="inst" href="1"></a>
      </div>
      <div class="footer__contact footer__contact_pit footer__elem">
        <p class="strong">Санкт-Петербург</p>
        <p>Заставская, 15</p>
        <p>Пн-Сб с 09:00 до 20:00</p>
        <a href="tel:+79119229098">8 (911) 922 90 98</a>
        <a href="mailto:info@maika.pro">info@maika.pro</a>
      </div>
      <div class="footer__contact footer__contact_msk footer__elem">
        <p class="strong">Москва</p>
        <p>Маросейка 6-8 с 1</p>
        <p>Ежедневно с 11:00 до 21:00</p>
        <a href="tel:+79119229098">8 (911) 922 90 98</a>
        <a href="mailto:info@maika.pro">info@maika.pro</a>
      </div>
    </div>
  </div>

</footer>
