<header class="header">
  <div class="header__wrapper">
    <div class="header__main">
      <div class="header__logo">
        <a href="" class="logo img"></a>
      </div>
      <div class="header__backcall">
        <a href="" class="backcall__button_mobile button"></a>
        <div class="backcall">
          <p>Печать на футболках за 15 минут</p>
          <p>Ежедневно с 09:00 до 21:00</p>
          <a href="mailto:info@maika.pro" class="backcall__mail">info@maika.pro</a>
          <a href="tel:+79119229098" class="backcall__number">8 (911) 922 90 98</a>
          <a href="" class="backcall__button button button_black">Заказать обратный звонок</a>
        </div>
      </div>
    </div>
    <div class="header__info">
      <h2>Быстрая, качественная, не дорогая и надежная печать <br>
        В Санкт-Петербурге и Москве, напишите нам -  <a href="https://wa.me/79119229098" class="white">WhatsApp</a> и <a href="tg://resolve?domain=maika_pro" class="blue">Telegram</a></h2>
      <a href="tel:+79119229098" class="red">+7 911 922 90 98</a>
    </div>
    <div class="header__nav">
      <nav class="nav">
        <a href="" class="nav__elem">Главная</a>
        <a href="" class="nav__elem">Текстиль</a>
        <a href="" class="nav__elem">Печать</a>
        <a href="" class="nav__elem">Кепки</a>
        <a href="" class="nav__elem">Кружки</a>
        <a href="" class="nav__elem">Примеры работ</a>
        <a href="" class="nav__elem">Оплата и доставка</a>
        <a href="" class="nav__elem">Контакты</a>
      </nav>
    </div>
  </div>
</header>
