<header class="header">
  <div class="header__wrapper">
    <div class="header__main">
      <div class="header__logo">
        <a href="https://maika.pro" class="logo">
          <img src="img/logo.png" alt="" width="1000px">
        </a>
      </div>
      <div class="header__backcall">
        <a href="" class="backcall__button_mobile button">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.6 7.8a15.57 15.57 0 0 0 6.6 6.6l2.2-2.2a.8.8 0 0 1 1-.2 10.46 10.46 0 0 0 3.6.6.94.94 0 0 1 1 1V17a.94.94 0 0 1-1 1A17 17 0 0 1 0 1a.94.94 0 0 1 1-1h3.5a.94.94 0 0 1 1 1 11.33 11.33 0 0 0 .6 3.6 1.23 1.23 0 0 1-.2 1L3.6 7.8z"></path>
          </svg>
        </a>
        <div class="backcall">
          <p>Печать на футболках за 15 минут</p>
          <p>Ежедневно с 09:00 до 21:00</p>
          <a href="mailto:info@maika.pro" class="backcall__mail">info@maika.pro</a>
          <a href="tel:+79119229098" class="backcall__number">8 (911) 922 90 98</a>
          <a href="" class="backcall__button button button_black">Заказать обратный звонок</a>
        </div>
      </div>
    </div>
    <div class="header__info">
      <h2>Быстрая, качественная, не дорогая и надежная печать <br>
        В Санкт-Петербурге и Москве, напишите нам -  <a href="https://wa.me/79119229098" class="white">WhatsApp</a> и <a href="tg://resolve?domain=maika_pro" class="blue">Telegram</a></h2>
      <a href="tel:+79119229098" class="red">+7 911 922 90 98</a>
    </div>
    <div class="header__nav">
      <nav class="nav">
        <a href="/" class="nav__elem not-before">Главная</a>
        <div class="nav__drop drop-1">
          <a href="" class="nav__elem">Текстиль</a>
          <div class="dropbox dropbox-1">
            <a href="t-shirts.html" class="dropbox__elem">Футболки</a>
            <a href="hoodies.html" class="dropbox__elem">Толстовки</a>
            <a href="sweatshirts.html" class="dropbox__elem">Свитшоты</a>
            <a href="polo.html" class="dropbox__elem">Поло</a>
          </div>
        </div>
        <div class="nav__drop drop-2">
          <a href="" class="nav__elem">Печать</a>
          <div class="dropbox dropbox-2">
            <a href="direct-print.html" class="dropbox__elem">Прямая печать</a>
            <a href="thermal-transfer.html" class="dropbox__elem">Термоперенос</a>
            <a href="silkscreen.html" class="dropbox__elem">Шелкография</a>
            <a href="" class="dropbox__elem">Полная запечатка</a>
            <a href="" class="dropbox__elem">Вышивка</a>
            <a href="" class="dropbox__elem">Сублимация</a>
          </div>
        </div>
        <a href="" class="nav__elem">Кепки</a>
        <a href="" class="nav__elem">Кружки</a>
        <a href="" class="nav__elem">Примеры работ</a>
        <a href="" class="nav__elem">Оплата и доставка</a>
        <a href="" class="nav__elem">Контакты</a>
      </nav>
    </div>
  </div>
</header>
