<div class="infliction">

    <div class="black-product-title">
        <h2>Методы нанесения печати на свитшот</h2>
    </div>

    <div class="wrapper">
        <div class="infliction__content">
            <div class="infliction__options">
                <div class="infliction__card card">
                    <a href="pryamaya-pechat.html" class="card__img" style="background-image: url(img/methods/1.png);"></a>
                    <h3 class="card__title">Прямая печать</h3>
                    <p class="card__info">Печать полноцветных изображений от 1 шт.</p>
                </div>
                <div class="infliction__card card">
                    <a href="tersmoperenos.html" class="card__img" style="background-image: url(img/methods/2.jpg);"></a>
                    <h3 class="card__title">Термоперенос</h3>
                    <p class="card__info">Печать векторных изображений (цифры, буквы, векторные рисунки) до 3-х цветов от 1 шт.</p>
                </div>
                <div class="infliction__card card">
                    <a href="shelkografiya.html" class="card__img" style="background-image: url(img/methods/3.jpg);"></a>
                    <h3 class="card__title">Шелкография</h3>
                    <p class="card__info">Печать любых изображений оптовым методом от 20 шт. (до 6 цветов)</p>
                </div>
                <div class="infliction__card card">
                    <a href="vyshivka.html" class="card__img" style="background-image: url(img/methods/6.jpg);"></a>
                    <h3 class="card__title">Вышивка</h3>
                    <p class="card__info">Вышивка векторных изображений от 20 шт (до 8 цветов) </p>
                </div>
            </div>
            <div class="infliction__info">
                <p>Свитшоты на заказ СПБ — выгодное и доступное предложение от нашей компании для тех, кто ценит стиль и любит креативность в мелочах! Наши изделия отличаются качеством, практичностью в носке. При правильном уходе — стирка при температуре не выше 30 градусов и глажка наизнанку, напечатанный принт сможет выдержать до 100 стирок, не утратив яркости и насыщенности тонов. Для современного человека одни из основных акцентов при выборе одежды — уникальность, удобство и возможность подчеркнуть свой образ, сделав его неповторимым.</p>
                <p>Печать на свитшотах СПБ — красиво, эффектно и броско для модных и креативных людей! Хотели бы добавить красок на свою одежду, или давно мечтали купить свитшот с амбициозным слоганом или комичной картинкой? Обратитесь к нам, и мы за 15 минут создадим уникальную модель по Вашему индивидуальному эскизу! Прямая печать изображения, печать на свитшотах методом шелкографии, термопереноса — одни из немногих способов сделать Вашу вещь поистине уникальной, яркой и эффектной. У нас также представлен широкий выбор современных моделей свитшотов, если же Вы еще в поиске того изделия, которое оптимально впишется в Ваш ежедневный образ!</p>
                <p>MAIKA PRO: мы создаем стиль и делаем Вашу жизнь краше! Благодаря масштабному производству и наличию собственного цеха по пошиву, мы готовы взяться за крупные оптовые заказы и выполнить их в кратчайшие сроки. Выгодные предложения для оптовых покупателей, акции и системы лояльности — приятный бонус для каждого клиента нашей компании.</p>
            </div>
        </div>
    </div>
</div>