<div class="slider-product">
    <div class="black-product-title">
        <h1 class="seo-title">Свитшот с принтом</h1>
    </div>

    <div class="wrapper">
        <div class="slider-product__slider">

            <div class="slide__contain">
                <a href="img/sweatshirts/1.jpg" data-fancybox="gallery-tshirts-sweetshirts" class="slider__slide slide slide_slider-product slide_slider-product_sweatshirts" style="background-image: url(img/sweatshirts/1.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/sweatshirts/2.jpg" data-fancybox="gallery-tshirts-sweetshirts" class="slider__slide slide slide_slider-product slide_slider-product_sweatshirts" style="background-image: url(img/sweatshirts/2.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/sweatshirts/3.jpg" data-fancybox="gallery-tshirts-sweetshirts" class="slider__slide slide slide_slider-product slide_slider-product_sweatshirts" style="background-image: url(img/sweatshirts/3.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/sweatshirts/4.jpg" data-fancybox="gallery-tshirts-sweetshirts" class="slider__slide slide slide_slider-product slide_slider-product_sweatshirts" style="background-image: url(img/sweatshirts/4.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/sweatshirts/5.jpg" data-fancybox="gallery-tshirts-sweetshirts" class="slider__slide slide slide_slider-product slide_slider-product_sweatshirts" style="background-image: url(img/sweatshirts/5.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/sweatshirts/6.jpg" data-fancybox="gallery-tshirts-sweetshirts" class="slider__slide slide slide_slider-product slide_slider-product_sweatshirts" style="background-image: url(img/sweatshirts/6.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/sweatshirts/7.jpg" data-fancybox="gallery-tshirts-sweetshirts" class="slider__slide slide slide_slider-product slide_slider-product_sweatshirts" style="background-image: url(img/sweatshirts/7.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/sweatshirts/8.jpg" data-fancybox="gallery-tshirts-sweetshirts" class="slider__slide slide slide_slider-product slide_slider-product_sweatshirts" style="background-image: url(img/sweatshirts/8.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/sweatshirts/9.jpg" data-fancybox="gallery-tshirts-sweetshirts" class="slider__slide slide slide_slider-product slide_slider-product_sweatshirts" style="background-image: url(img/sweatshirts/9.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/sweatshirts/10.jpg" data-fancybox="gallery-tshirts-sweetshirts" class="slider__slide slide slide_slider-product slide_slider-product_sweatshirts" style="background-image: url(img/sweatshirts/10.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/sweatshirts/11.jpg" data-fancybox="gallery-tshirts-sweetshirts" class="slider__slide slide slide_slider-product slide_slider-product_sweatshirts" style="background-image: url(img/sweatshirts/11.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/sweatshirts/12.jpg" data-fancybox="gallery-tshirts-sweetshirts" class="slider__slide slide slide_slider-product slide_slider-product_sweatshirts" style="background-image: url(img/sweatshirts/12.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/sweatshirts/13.jpg" data-fancybox="gallery-tshirts-sweetshirts" class="slider__slide slide slide_slider-product slide_slider-product_sweatshirts" style="background-image: url(img/sweatshirts/13.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/sweatshirts/14.jpg" data-fancybox="gallery-tshirts-sweetshirts" class="slider__slide slide slide_slider-product slide_slider-product_sweatshirts" style="background-image: url(img/sweatshirts/14.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/sweatshirts/15.jpg" data-fancybox="gallery-tshirts-sweetshirts" class="slider__slide slide slide_slider-product slide_slider-product_sweatshirts" style="background-image: url(img/sweatshirts/15.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/sweatshirts/16.jpg" data-fancybox="gallery-tshirts-sweetshirts" class="slider__slide slide slide_slider-product slide_slider-product_sweatshirts" style="background-image: url(img/sweatshirts/16.jpg);"></a>
            </div>
            
            
        </div>
    </div>
</div>