<div class="methods">
    <div class="wrapper">
        <div class="methods__title">
            <h2 class="title black">Методы нанесения</h2>
            <p>(Нажми на картинку и узнай о методе подробнее)</p>
        </div>
        <div class="methods__content">

            <div class="methods__card card">
                <div class="card__wrapper">
                    <a href="direct-print.html" class="card__img" style="background-image: url(img/methods/1.png);"></a>
                    <h3 class="card__title">Прямая печать</h3>
                    <p class="card__info">Печать полноцветных изображений от 1 шт.<br>
                        Подходит для: футболок, свитшотов, толстовок, поло, ткани.</p>
                </div>
            </div>
            
            <div class="methods__card card">
                <div class="card__wrapper">
                    <a href="thermal-transfer.html" class="card__img" style="background-image: url(img/methods/2.jpg);"></a>
                    <h3 class="card__title">Термоперенос</h3>
                    <p class="card__info">Печать векторных изображений (цифры, буквы, векторные рисунки) до 3-х цветов от 1 шт.<br>
                        Подходит для: футболок, свитшотов, толстовок, поло, кепок, ткани.</p>
                </div>
            </div>  
            
            <div class="methods__card card">
                <div class="card__wrapper">
                    <a href="silkscreen.html" class="card__img" style="background-image: url(img/methods/3.jpg);"></a>
                    <h3 class="card__title">Шелкография</h3>
                    <p class="card__info">Печать любых изображений оптовым методом от 20 шт. (до 6 цветов)<br>
                        Подходит для: футболок, свитшотов, толстовок, поло, кепок, ткани.</p>
                </div>
            </div>  
            
            <div class="methods__card card">
                <div class="card__wrapper">
                    <a href="sublimation.html" class="card__img" style="background-image: url(img/methods/4.jpg);"></a>
                    <h3 class="card__title">Сублимация</h3>
                    <p class="card__info">Печать любых изображений только на синтетической ткани белого цвета от 1 шт.<br>
                        Подходит для: футболок, свитшотов, толстовок, поло, кепок, ткани, кружек.</p>
                </div>
            </div>  
            
            <div class="methods__card card">
                <div class="card__wrapper">
                    <a href="complete-seal.html" class="card__img" style="background-image: url(img/methods/5.jpg);"></a>
                    <h3 class="card__title">Полная запечатка 3D</h3>
                    <p class="card__info">Полная запечатка синтетического текстиля от 1 шт.<br>
                        Подходит для: футболок, свитшотов, толстовок, ткани.</p>
                </div>
            </div>  
            
            <div class="methods__card card">
                <div class="card__wrapper">
                    <a href="embroidery.html" class="card__img" style="background-image: url(img/methods/6.jpg);"></a>
                    <h3 class="card__title">Вышивка</h3>
                    <p class="card__info">Вышивка векторных изображений от 20 шт (до 8 цветов)<br> 
                        Подходит для: футболок, свитшотов, толстовок, поло, кепок, ткани.</p>
                </div>
            </div>    

        </div>
    </div>
</div>