<div class="promo">
    <div class="wrapper">
        <div class="promo__content">
            <div class="promo__img">
                <a></a>
            </div>
            <div class="promo__info">
                <h2 class="promo__title">Печать на футболках СПБ: выглядеть ярко и броско каждый день — просто!</h2>
                <p>Любишь и ценишь нетривиальность в вещах, а повседневный look нуждается в апгрейде? Тогда печать на футболках СПБ — доступный способ выделиться и подчеркнуть индивидуальность стиля, расставить верные акценты в своем образе. Наша компания работает с 2016 года, мы изготавливаем футболки на заказ в СПБ из износостойкого качественного текстиля, на который наносится различными способами предпочтительный для Вас принт. Мы располагаем персональным цехом по пошиву изделий и постоянными поставщиками качественных и проверенных материалов, что позволяет нам обслуживать постоянный поток клиентов на высшем уровне. Печать на одежде СПБ выполняется в течение 15 минут в порядке живой очереди, при этом Вы, несомненно, будете в восторге от качества изображения и текстиля в целом!</p>
                <p>Наши предложения:<br>●	Печать на футболках,свитшотах, толстовках, поло и кепках СПБ — доступный способ сделать свой образ броским и совершенным, отличающимся от остальных!<br>●	Печать на кружках СПБ — возможность сделать креативный и необычный презент, который будет радовать долгое время своего владельца.</p>
                <p>MAIKA PRO&nbsp;— профессионалы, использующие новейшее оборудование и инновационные технологии, к числу которых относят шелкографию, термоперенос, прямую печать, сублимацию, полную запечаку и вышивку. Готовые изделия практичны в носке, а при правильном уходе — стирка при температуре не выше 30 градусов наизнанку, напечатанный принт будет долго радовать Вас своим первозданным видом и яркостью тонов. Исходя из выбранного изображения, наши менеджеры подскажут метод печати, предпочтительный для конкретного текстиля и принта. </p>
                <p>Хотите напечатать стильную картинку или оригинальный принт? MAIKA PRO — всегда креативные идеи, высокое качество и профессиональное исполнение как для одной футболки, так и для крупного оптового тиража. Мы предлагаем услуги как в розницу, так и оптом, таким образом, удовлетворим запросы любого клиента, желающего заказать конкретное количество изделий.</p>
            </div>
        </div>
    </div>
</div>