<div class="textile black-block">
    <div class="wrapper">
        <div class="textile__title">
            <h1 class="seo-title">Печать на футболках</h1>
            <h2 class="title">Цены на текстиль </h2>
            <p>Цена указана за текстиль без печати</p>
        </div>
        <div class="textile__slider slider">

            <div class="slide__contain">
                <a data-fancybox data-src="#hidden-form" class="slider__slide slide slide_textile" style="background-image: url(img/textile/1.png);">
                    <div class="slide__wrapper slide__wrapper_textile">
                        <h3>Футболка СТАНДАРТ<br>
                            100% хлопок<br>
                            Мужская/женская/детская</h3>
                        <p>от 390 рублей</p>
                    </div>
                </a>
            </div>

            <div class="slide__contain">
                <a data-fancybox data-src="#hidden-form" class="slider__slide slide slide_textile" style="background-image: url(img/textile/2.png);">
                    <div class="slide__wrapper slide__wrapper_textile">
                        <h3>Футболка ПРЕМИУМ<br>
                            92% хлопок/8% лайрка<br>
                            Мужская/женская/детская</h3>
                        <p>от 490 рублей</p>
                    </div>
                </a>
            </div>

            <div class="slide__contain">
                <a data-fancybox data-src="#hidden-form" class="slider__slide slide slide_textile" style="background-image: url(img/textile/3.png);">
                    <div class="slide__wrapper slide__wrapper_textile">
                        <h3>Свитшот<br>
                            90% хлопок/10% полиэстер<br>
                            Мужской/женский/детский</h3>
                        <p>от 1100 рублей</p>
                    </div>
                </a>
            </div>

            <div class="slide__contain">
                <a data-fancybox data-src="#hidden-form" class="slider__slide slide slide_textile" style="background-image: url(img/textile/4.png);">
                    <div class="slide__wrapper slide__wrapper_textile">
                        <h3>Худи (толстовка-кенгуру)<br>
                            90% хлопок/10% полиэстер<br>
                            Мужская/женская/детская</h3>
                        <p>от 1300 рублей</p>
                    </div>
                </a>
            </div>

            <div class="slide__contain">
                <a data-fancybox data-src="#hidden-form" class="slider__slide slide slide_textile" style="background-image: url(img/textile/5.png);">
                    <div class="slide__wrapper slide__wrapper_textile">
                        <h3>Толстовка на молнии&nbsp;<br>
                            90% хлопок/10% полиэстер<br>
                            Мужская/женская/детская</h3>
                        <p>от 1500 рублей </p>
                    </div>
                </a>
            </div>

            <div class="slide__contain">
                <a data-fancybox data-src="#hidden-form" class="slider__slide slide slide_textile" style="background-image: url(img/textile/6.png);">
                    <div class="slide__wrapper slide__wrapper_textile">
                        <h3>Футболка Поло<br>
                            90% хлопок/10% полиэстер<br>
                            Мужская/женская/детская</h3>
                        <p>от 700 рублей</p>
                    </div>
                </a>
            </div>

            <div class="slide__contain">
                <a data-fancybox data-src="#hidden-form" class="slider__slide slide slide_textile" style="background-image: url(img/textile/7.png);">
                    <div class="slide__wrapper slide__wrapper_textile">
                        <h3>Бейсболка/SNAPBACK<br>
                            100% хлопок<br>
                            Мужская/женская/детская</h3>
                        <p>от 350/700 рублей</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>