<div class="print-info">

    <div class="black-product-title">
        <h1 class="seo-title">Кружка с печатью на заказ</h1>
    </div>

    <div class="wrapper">
        <div class="print-info__content">
            <div class="print-info__images print-info__images_pt">

                <div class="print-info__img print-info__img_mugs">
                    <a class="button__mugs" data-fancybox data-src="#hidden-form" style="background-image: url(img/mugs/1.jpg);"></a>
                    <h3>Белая керамика (330мл.)</h3>
                </div>

                <div class="print-info__img print-info__img_mugs">
                    <a class="button__mugs" data-fancybox data-src="#hidden-form" style="background-image: url(img/mugs/2.png);"></a>
                    <h3>Цветная внутри + ручка керамика (330 мл.)</h3>
                </div>

                <div class="print-info__img print-info__img_mugs">
                    <a class="button__mugs" data-fancybox data-src="#hidden-form" style="background-image: url(img/mugs/3.jpg);"></a>
                    <h3>Большая белая (420мл.)</h3>
                </div>
                
                <div class="print-info__img print-info__img_mugs">
                    <a class="button__mugs" data-fancybox data-src="#hidden-form" style="background-image: url(img/mugs/4.png);"></a>
                    <h3>Кружка хамелеон (330мл.)</h3>
                </div>

                <div class="print-info__img print-info__img_mugs">
                    <a class="button__mugs" data-fancybox data-src="#hidden-form" style="background-image: url(img/mugs/5.png);"></a>
                    <h3>Стеклянная кружка (330 мл.)</h3>
                </div>

                <div class="print-info__img print-info__img_mugs">
                    <a class="button__mugs" data-fancybox data-src="#hidden-form" style="background-image: url(img/mugs/6.png);"></a>
                    <h3>Парные кружки</h3>
                </div>

                <div class="print-info__img print-info__img_mugs">
                    <a class="button__mugs" data-fancybox data-src="#hidden-form" style="background-image: url(img/mugs/7.png);"></a>
                    <h3>Серебряная/золотая кружка</h3>
                </div>

                <div class="print-info__img print-info__img_mugs">
                    <a class="button__mugs" data-fancybox data-src="#hidden-form" style="background-image: url(img/mugs/8.png);"></a>
                    <h3>Кружка с ложкой керамика</h3>
                </div>

                <div class="print-info__img print-info__img_mugs">
                    <a class="button__mugs" data-fancybox data-src="#hidden-form" style="background-image: url(img/mugs/9.jpg);"></a>
                    <h3>Кружка футбольная</h3>
                </div>

                <div class="print-info__img print-info__img_mugs">
                    <a class="button__mugs" data-fancybox data-src="#hidden-form" style="background-image: url(img/mugs/10.png);"></a>
                    <h3>Кружка с блестками</h3>
                </div>

                <div class="print-info__img print-info__img_mugs">
                    <a class="button__mugs" data-fancybox data-src="#hidden-form" style="background-image: url(img/mugs/11.png);"></a>
                    <h3>Кружка автомобильная</h3>
                </div>

                <div class="print-info__img print-info__img_mugs">
                    <a class="button__mugs" data-fancybox data-src="#hidden-form" style="background-image: url(img/mugs/12.png);"></a>
                    <h3>Кружка латте</h3>
                </div>

            </div>
        </div>
    </div>


</div>