<div class="print-info">

    <div class="wrapper">
        <div class="print-info__content">
            <div class="print-info__text">
                <p>Кружки с печатью — приятный сюрприз и возможность подарить положительные эмоции другу, сотруднику или близкому человеку. Наша компания предлагает широкий ассортимент кружек, включая простые белые кружки, цветные внутри, кружки с ложкой, золотые, серебряные, а также популярные термокружки и многие другие кружки. Печать на кружках СПБ выполняется качественными и безопасными для здоровья человека красками, которые не скалываются и не блекнут с течением времени, а напечатанный принт не смывается после множества циклов мойки.</p>
                <p>Кроме этого, мы предлагаем возможность самостоятельно предложить эскиз рисунка, фото или картинки, что станет признаком Вашего незаурядного вкуса!</p>
                <p>Кружки на заказ СПБ — альтернатива полезного и доступного презента, который может быть приурочен как к празднику, так и к обычному дню. Наши талантливые специалисты сделают самые необычные и креативные варианты кружек с эффектным и броским принтом, корпоративным слоганом или предпочтительным фото. Печать на кружках — способ изменить обычное изделие, сделав его уникальным и неповторимым. Обращайтесь за консультацией к нашим менеджерам, и мы вместе создадим кружку с принтом, которая будет долгое время радовать своим необычным дизайном.</p>
                <p>Мы предлагает выгодные условия на печать на кружках оптом. У нас Вы сможете заказать крупный тираж, при этом получив приятные скидки и бонусы. MAIKA PRO — компания, предлагающая самые выгодные цены на печать фото на кружках СПБ как для розничных, так и для оптовых покупателей.</p>
            </div>
        </div>
    </div>
</div>