<div class="order">
    <div class="wrapper">
        <div class="order__content">

            <div class="order__steps">
                <div class="order__scheme">
                    <div class="order__tringle tringle1"></div>
                    <div class="order__arrows"></div>
                </div>
                <div class="order__info">
                    <p>Напишите нам в <a href="https://wa.me/79119229098" class="green">WhatsApp</a> и <a href="tg://resolve?domain=maika_pro" class="blue">Telegram</a> </p>
                </div>
            </div>

            <div class="order__steps">
                <div class="order__scheme">
                    <div class="order__tringle tringle2"></div>
                    <div class="order__arrows even"></div>
                </div>
                <div class="order__info">
                    <p>Опишите, что и на чём будем печатать, прикрепите картинки</p>
                </div>
            </div>

            <div class="order__steps">
                <div class="order__scheme">
                    <div class="order__tringle tringle3"></div>
                    <div class="order__arrows"></div>
                </div>
                <div class="order__info">
                    <p>Дождитесь ответа и получите варианты, которые мы предложим Вам</p>
                </div>
            </div>

            <div class="order__steps">
                <div class="order__scheme">
                    <div class="order__tringle tringle4"></div>
                </div>
                <div class="order__info">
                    <p>Выберите Вариант и оформите заказ</p>
                </div>
            </div>

        </div>
    </div>
  </div>