<div class="payment-methods">
    <div class="black-product-title black-product-title_button">
        <a href="https://money.yandex.ru/to/410017835596119">Оплатить банковской картой на сайте</a>
    </div>

    <div class="wrapper">
        <div class="payment-methods__title">
            <h2 class="title black">Способы оплаты</h2>
        </div>

        <div class="payment-methods__content">
            <div class="payment-methods__elem payment-methods__elem_right payment-methods__elem_1">
                <h3>Оплата наличными в студии</h3>
                <p>Вы можете оплатить свой заказ наличными. Для этого нужно приехать к нам в студию.</p>
            </div>
            <div class="payment-methods__elem"></div>
            <div class="payment-methods__elem"></div>
            <div class="payment-methods__elem payment-methods__elem_left payment-methods__elem_2">
                <h3>Оплата на карту Сбербанка </h3>
                <p>Если у вас есть карта Сбербанка, то вы можете перевести сумму вашего заказа на наш номер карты.<br>
                    НОМЕР КАРТЫ - 5469 5500 4482 6425&nbsp;<br>
                    Получатель -  Дмитрий Валерьевич Л.<br>
                    Просьба в комментариях ничего не указывать.</p>
            </div>
            <div class="payment-methods__elem payment-methods__elem_right payment-methods__elem_3">
                <h3>Оплата банковской картой на сайте</h3>
                <p>Чтобы оплатить заказ банковской картой, нажмите <a href="https://money.yandex.ru/to/410017835596119">сюда</a>, введите сумму заказа и оплатите заказ.</p>
            </div>
            <div class="payment-methods__elem"></div>
            <div class="payment-methods__elem"></div>
            <div class="payment-methods__elem payment-methods__elem_left payment-methods__elem_4">
                <h3>Оплата на расчетный счет </h3>
                <p>Если вы хотите оплатить от имени организации, мы выставим вам счет.</p>
            </div>
        </div>

    </div>

</div>