<div class="print-info">
    <div class="wrapper">
        <div class="print-info__content">
            <div class="print-info__text">
                <p>Термоперенос на футболках, толстовках, свитшотах, поло, кепках СПБ — выгодное предложение для тех, кто ценит уникальный и нетривиальный стиль. Термоперенос используется при нанесении векторных изображений (надписей, цифр, векторных рисунков до 3-х цветов) на футболку, кепку или любой другой текстиль от 1 шт.</p>
                <p>Наша компания предлагает также широкий ассортимент готовых изделий из качественного и износостойкого текстиля, что в комплексе с напечатанным рисунком будет смотреться стильно и креативно! Изображения, перенесенные посредством метода термопереноса, выдерживают до 60 стирок. Важно придерживаться температурного режима при стирке — не выше 30 градусов и выглаживать утюгом или парогенератором на низких мощностях при вывернутом состоянии вещи.</p>
                <p>MAIKA PRO — современная компания, которая создает имидж и творит стиль по Вашим индивидуальным предпочтениям! Мы работаем с единичными заказами и готовы изготовить крупные тиражи. Оптовым покупателям приятные бонусы, системы лояльности и скидки! Обращайтесь к нам, и мы предложим самые выгодные цены и отменное качество печати!</p>
            </div>
            <div class="print-info__images">
                <div class="print-info__img">
                    <a style="background-image: url(img/thermal-transfer/1.jpg);"></a>
                </div>

                <div class="print-info__img">
                    <a style="background-image: url(img/thermal-transfer/2.jpg);"></a>
                </div>

                <div class="print-info__img">
                    <a style="background-image: url(img/thermal-transfer/3.jpg);"></a>
                </div>

                <div class="print-info__img">
                    <a style="background-image: url(img/thermal-transfer/4.jpg);"></a>
                </div>
            </div>
        </div>
    </div>
</div>