<div class="infliction">

    <div class="black-product-title">
        <h2>Методы нанесения печати на поло</h2>
    </div>

    <div class="wrapper">
        <div class="infliction__content">
            <div class="infliction__options">
                <div class="infliction__card card">
                    <a href="pryamaya-pechat.html" class="card__img" style="background-image: url(img/methods/1.png);"></a>
                    <h3 class="card__title">Прямая печать</h3>
                    <p class="card__info">Печать полноцветных изображений от 1 шт.</p>
                </div>
                <div class="infliction__card card">
                    <a href="tersmoperenos.html" class="card__img" style="background-image: url(img/methods/2.jpg);"></a>
                    <h3 class="card__title">Термоперенос</h3>
                    <p class="card__info">Печать векторных изображений (цифры, буквы, векторные рисунки) до 3-х цветов от 1 шт.</p>
                </div>
                <div class="infliction__card card">
                    <a href="shelkografiya.html" class="card__img" style="background-image: url(img/methods/3.jpg);"></a>
                    <h3 class="card__title">Шелкография</h3>
                    <p class="card__info">Печать любых изображений оптовым методом от 20 шт. (до 6 цветов)</p>
                </div>
                <div class="infliction__card card">
                    <a href="vyshivka.html" class="card__img" style="background-image: url(img/methods/6.jpg);"></a>
                    <h3 class="card__title">Вышивка</h3>
                    <p class="card__info">Вышивка векторных изображений от 20 шт (до 8 цветов) </p>
                </div>
            </div>
            <div class="infliction__info">
                <p>Наша компания организована с 2016 года и предлагает качественные и уникальные изделия из прочного и износостойкого текстиля. У нас Вы также сможете сделать поло на заказ СПБ недорого, выбрав при этом предпочтительный рисунок для печати и оттенок модели. Наши изделия выдерживают до 100 стирок, не теряют контрастности цветов и насыщенности цвета изображений, если придерживаться должного температурного режима для стирки (30 градусов) и гладить вещь наизнанку.</p>
                <p>Печать на поло СПБ — возможность подчеркнуть свою индивидуальность, сделать свой образ совершенным и креативным. Заказать печать на поло в СПБ можно непосредственно у нас на сайте, заполнив форму обратной связи или обратившись к нам по контактным номерам телефонов, а также написав нам на электронную почту.</p>
                <p>MAIKA PRO — компания, располагающая персональным цехом по пошиву и масштабным производством, что позволяет нам брать любые по объёмы оптовые заказы для печати. Мы всегда готовы предложить выгодные условия и сжатые сроки изготовления оптовых тиражей. Обращайтесь к нам, и наши специалисты помогут с выбором принта, методом печати и способом доставки!</p>
            </div>
        </div>
    </div>
</div>