<div class="slider-product">
    <div class="black-product-title">
        <h1 class="seo-title">Футболка поло с логотипом</h1>
    </div>

    <div class="wrapper">
        <div class="slider-product__slider">

            <div class="slide__contain">
                <a href="img/polo/1.jpg" data-fancybox="gallery-tshirts-polo" class="slider__slide slide slide_slider-product slide_slider-product_polo" style="background-image: url(img/polo/1.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/polo/2.jpg" data-fancybox="gallery-tshirts-polo" class="slider__slide slide slide_slider-product slide_slider-product_polo" style="background-image: url(img/polo/2.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/polo/3.jpg" data-fancybox="gallery-tshirts-polo" class="slider__slide slide slide_slider-product slide_slider-product_polo" style="background-image: url(img/polo/3.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/polo/4.jpg" data-fancybox="gallery-tshirts-polo" class="slider__slide slide slide_slider-product slide_slider-product_polo" style="background-image: url(img/polo/4.jpg);"></a>
            </div>

            <div class="slide__contain">
                <a href="img/polo/5.jpg" data-fancybox="gallery-tshirts-polo" class="slider__slide slide slide_slider-product slide_slider-product_polo" style="background-image: url(img/polo/5.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/polo/6.jpg" data-fancybox="gallery-tshirts-polo" class="slider__slide slide slide_slider-product slide_slider-product_polo" style="background-image: url(img/polo/6.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/polo/7.jpg" data-fancybox="gallery-tshirts-polo" class="slider__slide slide slide_slider-product slide_slider-product_polo" style="background-image: url(img/polo/7.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/polo/8.jpg" data-fancybox="gallery-tshirts-polo" class="slider__slide slide slide_slider-product slide_slider-product_polo" style="background-image: url(img/polo/8.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/polo/9.jpg" data-fancybox="gallery-tshirts-polo" class="slider__slide slide slide_slider-product slide_slider-product_polo" style="background-image: url(img/polo/9.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/polo/10.jpg" data-fancybox="gallery-tshirts-polo" class="slider__slide slide slide_slider-product slide_slider-product_polo" style="background-image: url(img/polo/10.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/polo/11.jpg" data-fancybox="gallery-tshirts-polo" class="slider__slide slide slide_slider-product slide_slider-product_polo" style="background-image: url(img/polo/11.jpg);"></a>
            </div>
            
            <div class="slide__contain">
                <a href="img/polo/12.jpg" data-fancybox="gallery-tshirts-polo" class="slider__slide slide slide_slider-product slide_slider-product_polo" style="background-image: url(img/polo/12.jpg);"></a>
            </div>
            
            
        </div>
    </div>
</div>