<div class="print-info">
    <div class="wrapper">
        <div class="print-info__content">
            <div class="print-info__text">
                <p>Уникальные и креативные вещи поднимают настроение, дарят уйму положительных эмоций и помогают ненавязчиво и доступно сделать приятно другу или близкому человеку.</p>
                <p>Прямая печать на футболках, толстовках, свитшотах, поло СПБ — возможность получить необычную и стильную вещь по доступной цене. Суть метода заключается в непосредственном нанесении чернил на текстиль, после чего изображение запечатывается под термопрессом. Такая технология позволяет получить износостойкие, яркие картинки, слоганы, фото на текстиле. MAIKA PRO — компания, которая гарантирует, что цифровая печать на футболках, толстовках, свитшотах, поло СПБ будет долго радовать своим первозданным видом и стильным дизайном. Готовые изделия выдерживают до 60 стирок, если придерживаться должного ухода — глажка наизнанку и стирка при температуре не выше 30 градусов.</p>
                <p>Мы предлагаем самые лучшие цены в СПБ для оптовых покупателей. Благодаря индивидуальному производству и крупному цеху, мы готовы взяться за любые масштабные проекты по печати изображений, фото или принтов на текстиле. Наши специалисты сделают заявленные работы качественно, оперативно и в срок. Мы работаем как с единичными, так и с масштабными заказами. Обращайтесь к нам, и мы преобразим любую Вашу вещь!</p>
            </div>
            <div class="print-info__images">
                <div class="print-info__img">
                    <a style="background-image: url(img/print/1.png);"></a>
                </div>

                <div class="print-info__img">
                    <a style="background-image: url(img/print/2.png);"></a>
                </div>
            </div>
        </div>
    </div>
</div>